<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Symfony and React</title>
    {{ encore_entry_link_tags('app') }}  {# Include CSS files #}
</head>
<body>
    <div id="root"></div>  {# This is where React will render #}

    {{ encore_entry_script_tags('app') }}  {# Include JS files #}
</body>
</html>